{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'www/components/base/base.css' %}">
    <script src="{% static 'www/components/base/script.js' %}"></script>
  </head>
  <body>
    <div class="page">
      <div id="particles-container"></div>
      <section class="section-lg section-one-screen">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <form class="panel" method="post">
              {% csrf_token %}
                <div class="panel-body">
                  <div class="row row-30">
                    <div class="col-lg-12 order-lg-1">
                      <div class="form-group">
                        <label for="id_username">Correo Electrónico</label>
                        <div class="input-group">
                          <div class="input-group-prepend"><span class="input-group-text fas fa-at"></span></div>
                          {{form.username}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="id_password">Contraseña</label>
                        <div class="input-group">
                          <div class="input-group-prepend"><span class="input-group-text fa fa-lock"></span></div>
                          {{form.password}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row row-10">
                    <div class="col-sm-6">
                      <div class="custom-control custom-switch custom-switch-lg custom-switch-primary">
                        <input class="custom-control-input" type="checkbox" id="imegmusu"/>
                        <label class="custom-control-label" for="imegmusu">Remember me
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                      <button class="btn btn-primary" type="submit">Sign In</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>